.h1-website{
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 102px;
}

.p-hero{
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
}

.button-kursus{
    width: 437px;
    height: 89px;
    background-color: #3DA7E3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.form-control{
    border-color: aqua;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.form-control:focus { 
    border-width: 0 0 3px 0;
    box-shadow: none;
    transition: all 0.1s ease-out;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

